{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "globals": {
    "test": true,
    "expect": true
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    "no-console": "error"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
